@media screen and (max-width: 760px){

    body{
        

    }

    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;

    }

    form{
        margin: 0 auto;
        width: 100%;

    }

    h2{
        font-size: 38px;
    }
    
    input{
        align-self: center;
    }

    img{
        display: none;
    }



    }
